fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
google-generativeai
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-chroma
langgraph
chromadb
sentence-transformers
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
